<footer id="footer">
  <section class="footer">
    <div class="footer__button">
      <a href="#inicio" title="Ir arriba" target="local"></a>
    </div>
    <nav>
      <section>
        <ul class="footer__ul">
          <li><a href="https://adalab.es/">articles</a></li>
          <li><a href="https://adalab.es/">books</a></li>
          <li><a href="https://adalab.es/">events</a></li>
          <li><a href="https://adalab.es/">reasons</a></li>
          <li><a href="https://adalab.es/">tips</a></li>
        </ul>
      </section>
      <section>
        <ul class="footer__social">
          <li><a href="https://adalab.es/">twitter</a></li>
          <li><a href="https://adalab.es/">instagram</a></li>
          <li><a href="https://adalab.es/">mastodon.social</a></li>
        </ul>
        <div class="footer__copi">
          <small>&copy;2017</small>
          <p>
            We
            <span class="footer__copi--heart"></span>
            components
          </p>
        </div>
      </section>
    </nav>
  </section>
</footer>
