<section class="insomnia">
  <div class="insomnia__items">
    <small class="insomnia__items--small">Isomnia tips</small>
    <h2 class="insomnia__items--h2">
      Looking Through A
      <span>Window</span>
    </h2>
    <p class="insomnia__items--p">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <div class="insomnia__items--buttom">
      <a href="https://adalab.es/" title="Ir a Adalab">Go</a>
    </div>
  </div>
</section>
