<!-- <section class="insomnia">
    <div class="insomnia__items">
      <small class="insomnia__items--small">Isomnia tips</small>
      <h2 class="insomnia__items--h2">
        Looking Through A <br />
        Window
      </h2>
      <p class="insomnia__items--p">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <div class="insomnia__items--buttom">
        <a href="">Go</a>
      </div>
    </div>
  </section> -->

<!-- <section class="reasonsection" id="reasons">
    <h3 class="h3">3 Reasons To Purchase</h3>
    <article>
      <ul class="reasonsection_ul">
        <li class="reasonsection_ul--item1">
          <h4 class="h4">Ut sed metus</h4>
          <p>
            Lorem ipsum dolor sit <br />
            amet, consectetur.
          </p>
        </li>
        <li class="reasonsection_ul--item2">
          <h4 class="h4">Curabitur ac erat</h4>
          <p>
            Mauris mattis urna <br />
            quie lorem molestie
          </p>
        </li>
        <li class="reasonsection_ul--item3">
          <h4 class="h4">Morbi dictum</h4>
          <p>
            Aliquam in dolor et <br />
            dolor tincidunt
          </p>
        </li>
      </ul>
      <div class="reasonbutton">
        <a class="a" href="">More reasons</a>
      </div>
    </article>
  </section>
</main> -->
