<section class="reasonsection" id="reasons">
    <h3 class="h3">3 Reasons To Purchase</h3>
    <article class="reasonitems">
      <ul class="reasonsection_ul">
        <li class="reasonsection_ul--item1">
          <h4 class="h4">Ut sed metus</h4>
          <p class="rp">
            Lorem ipsum dolor sit amet, consectetur.
          </p>
        </li>
        <li class="reasonsection_ul--item2">
          <h4 class="h4">Curabitur ac erat</h4>
          <p class="rp">
            Mauris mattis urna quies lorem molestie.
          </p>
        </li>
        <li class="reasonsection_ul--item3">
          <h4 class="h4">Morbi dictum</h4>
          <p class="rp">
            Aliquam in dolor et dolor tincidunt.
          </p>
        </li>
      </ul>
      <div class="reasonbutton">
        <a class="a" href="https://adalab.es/" title="Ir a Adalab">More reasons</a>
      </div>
    </article>
  </section>
</main>