// fonts
$font-main: "Roboto Slab", serif;
$font-ligth: "Roboto", sans-serif;

// colors
$color-footer: #304268;
$color-bottom: #f26002;
$color-ligth: #ffffff;
$color-burguer: #0271bc;
$color-reason: #eff9ff;
$color-insomnia: #8ccbea;

// media queries
$tablet: 768px;
$desktop: 1200px;
