body {
  font-family: $font-ligth;
  font-size: 18px;
}

.main {
  display: flex;
  flex-direction: column;
  .wraper {
    margin-left: 15px;
    padding-right: 15px;
  }

  &__hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-ligth;
    align-items: center;
    background: url(../images/cover.jpg) center;
    background-size: cover;

    .buttomhero {
      width: 45px;
      height: 45px;
      background-color: white;
      margin-top: 45px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      a {
        padding: 20px;
      }
    }

    &--items {
      display: flex;
      flex-direction: column;
      flex-wrap: none;
      justify-content: center;
      align-items: center;
      color: $color-ligth;
      margin-top: 284px;

      .h1 {
        font-size: 42px;
        text-transform: uppercase;
        font-family: $font-main;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 55px;
      }
      .small {
        font-size: 16px;
      }
    }
  }
}
