//CONTAINER
.footer {
  @include flexcenter();
  background-color: $color-footer;
  color: $color-ligth;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  padding-bottom: 40px;

  //FOOTER BUTTOM

  &__nav {
    background: $color-ligth url(../images/ico-arrow.svg) center no-repeat;
    @include buttom45();
    margin-top: -25px;
    background-position: center;

    a {
      padding: 30px;
      transition: color ease 0.5s;
    }

    //UL,SOCIAL, COPI, MODIFICATIONS

    &--ul {
      @include heigthPading();
      text-transform: uppercase;
    }
    &--social {
      @include heigthPading();
      text-transform: uppercase;
    }
    &--copi {
      @include heigthPading();
      font-size: 14px;
      padding-bottom: 45px;

      //COPYRIGHT,HEART//
      p {
        text-transform: lowercase;
      }

      .heart {
        width: 13px;
        height: 13px;
        background: url(../images/heart.png);
        background-size: contain;
        display: inline-block;
      }
    }
  }

  //MEDIAQUERIES

  .footer__tablet {
    @media all and (min-width: 768px) {
      width: 100%;
      justify-content: space-evenly;
      display: flex;
      text-align: left;

      .itema {
        position: relative;
        left: 170px;
        @media all and (min-width: 1280px) {
          left: 300px;
        }
      }
      .itemb {
        position: relative;
        left: 200px;
      }
      .itemc {
        position: relative;
        right: 520px;
        @media all and (min-width: 1280px) {
          right: 600px;
        }
      }
    }
  }
}
