//CONTAINER
.footer {
  @include flexcenter();
  background-color: $color-footer;
  color: $color-ligth;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  padding-bottom: 40px;
  align-items: center;

  //FOOTER BUTTOM

  &__nav {
    background: $color-ligth url(../images/ico-arrow.svg) center no-repeat;
    @include buttom45();
    margin-top: -25px;
    background-position: center;

    a {
      padding: 30px;
      transition: color ease 0.5s;
    }

    //UL,SOCIAL, COPI, MODIFICATIONS

    &--ul {
      @include heigthPading();
      text-transform: uppercase;
    }
    &--social {
      @include heigthPading();
      text-transform: uppercase;
    }
    &--copi {
      @include heigthPading();
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;

      //COPYRIGHT,HEART//

      p {
        text-transform: lowercase;
      }

      .heart {
        width: 13px;
        height: 13px;
        background: url(../images/heart.png);
        background-size: contain;
        display: inline-block;
      }
    }
  }

  //MEDIAQUERIES

  //tablet

  .footer__tablet {
    @media all and (min-width: 768px) {
      display: flex;
      width: 768px;
      justify-content: space-evenly;
      flex-direction: row-reverse;
      text-align: left;
      .reverse {
        display: flex;
        width: 420px;
        justify-content: space-between;
      }
    }
  }
}
