//CONTAINER

.insomnia {
  background-color: $color-ligth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 45px;

  //TABLET

  @media all and (min-width: 768px) {
    padding: 15px;
  }

  //PC

  @media all and (min-width: 1280px) {
    width: 60%;
    padding-left: 300px;
  }

  //ITEMS

  &__items {
    padding-left: 15px;
    width: 80%;

    @media all and (min-width: 1280px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    //items tablet
    @media all and (min-width: 768px) {
      width: 80%;
      margin-left: 15px;
    }

    &--small {
      margin-bottom: 5px;
      line-height: 30px;
      color: $color-insomnia;
      text-transform: capitalize;
    }

    // h2
    &--h2 {
      font-family: $font-main;
      font-size: 24px;
      line-height: 30px;
      display: flex;
      flex-direction: column;

      //h2 tablet
      @media all and (min-width: 768px) {
        flex-direction: row;
      }
      //h2 pc
      @media all and (min-width: 1280px) {
        flex-direction: row;
      }
    }

    &--p {
      line-height: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      @media all and (min-width: 1280px) {
      }
    }
    //BUTTOM

    &--buttom {
      width: 76px;
      height: 45px;
      border-width: 2px;
      border-color: $color-bottom;
      border-style: solid;
      border-radius: 22.5px;
      @include flexcenter();
    }

    a {
      color: $color-bottom;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      padding: 30px;
      transition: color ease 0.5s;
      &:hover {
        color: black;
      }
    }

    @media all and (min-width: 1280px) {
      padding: 45px;
    }
  }
}
