//REASONS CONTAINER

.reasonsection {
  background-color: $color-reason;
  @include flexcenter();
  flex-direction: column;
  padding-top: 30px;

  .h3 {
    font-size: 24px;
    line-height: 30px;
    font-family: $font-main;
    padding-bottom: 20px;
  }
  //REASONS ITEMS

  .reasonitems {
    @include flexcenter();
    flex-direction: column;
    width: 100%;

    .h4 {
      font-size: 24px;
      margin-bottom: 5px;
    }
    .rp {
      font-size: 20px;
    }
  }

  // REASON LIST GRID

  &_ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 45px;
    width: 60%;

    //GRID TABLET
    @media all and (min-width: 768px) {
      display: grid;
      grid-template-columns: 215px 200px 215px;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: center;

      //GRID PC
      @media all and (min-width: 1280px) {
        grid-template-columns: 300px 300px 400px;
        padding-left: 80px;
      }
    }

    //ITEM1 POSITION MOBILE

    &--item1 {
      grid-column: 1;
      grid-row: 1/2;
      @include itemsgrid();
      @include flexcenter();

      //item1 position tablet,pc
      @media all and (min-width: 768px) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }

    //ITEM2 POSITION MOBILE

    &--item2 {
      grid-column: 1;
      grid-row: 2/3;
      @include flexcenter();
      @include itemsgrid();

      //item2 position tablet,pc

      @media all and (min-width: 768px) {
        grid-column: 2/2;
      }
    }
    //ITEM3 POSITION MOBILE

    &--item3 {
      grid-column: 1;
      grid-row: 3/4;
      display: flex;
      @include itemsgrid();

      //item3 position tablet,pc

      @media all and (min-width: 768px) {
        grid-column: 3/4;
        grid-row: 2/3;
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
    .h4 {
      font-family: $font-main;
      font-size: 18px;
      line-height: 30px;
      @media all and (min-width: 1280px) {
        font-size: 24px;
      }
    }
  }

  //REASON BUTTON

  .reasonbutton {
    width: 184px;
    height: 45px;
    background-color: $color-bottom;
    border-width: 3px;
    border-color: $color-bottom;
    border-radius: 22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 60px;
    transition: color ease 0.5s;

    @media all and (min-width: 1280px) {
      width: 255px;
    }

    .a {
      color: $color-ligth;
      font-size: 20px;
      &:hover {
        color: black;
      }
    }
  }
}
